<div class="mt-5 px-3 md:px-7 text-gray-800 text-[0.85rem]">

    <div class="flex justify-between">
      <h1 class="text-2xl font-bold mb-4">Clients Transactions</h1>
      <div >
        <a class="bg-red-400 text-white px-4 py-2 rounded"
        routerLink="/create-account"
        >
          <span>New Client <span class="ml-2"> </span>  <i class="fas fa-user-plus" ></i></span> 
        </a>
       
      </div>
    </div>
    
  
    <!-- Search Box -->
    <div class="mb-4">
      <input
        type="text"
        [(ngModel)]="search"
        (keyup.enter)="onSearch()"
        placeholder="Search clients..."
        class="border rounded-md p-2 w-full"
      />
    </div>
  
    <!-- Clients Table -->
    <table class="min-w-full bg-white border">
      <thead>
        <tr>
          <th class="cursor-pointer" (click)="onSort('name')">Name</th>
          <th class="cursor-pointer" (click)="onSort('card_no')">Card No</th>
          <th class="cursor-pointer" (click)="onSort('phone_number')">Phone Number</th>
          <th class="cursor-pointer" (click)="onSort('balance')">Balance</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.name }}</td>
          <td>{{ client.card_no }}</td>
          <td>{{ client.phone_number }}</td>
          <td>{{ client.balance }}</td>
          <td>
            <a
              href="javascript:void(0)"
              class="text-white px-3 py-2 rounded  bg-blue-500"
              (click)="fetchTransactions(client.client_id)"
              >Fetch Transactions  <span class="ml-2"></span> <i class="fas fa-folder-open"></i> </a
            >
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination -->
    <div class="mt-4">
      <button
        class="border rounded px-3 py-1"
        [disabled]="currentPage === 1"
        (click)="onPageChange(currentPage - 1)"
      >
        Previous
      </button>
      <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
      <button
        class="border rounded px-3 py-1"
        [disabled]="currentPage === totalPages"
        (click)="onPageChange(currentPage + 1)"
      >
        Next
      </button>
    </div>
  </div>
  