<!-- menu.component.html
<nav class="bg-white text-gray-700 py-4">
  <div>

  </div>
    <div class="container mx-auto px-4 flex justify-between items-center">
       
      <div class="hidden md:flex space-x-4">
        <a routerLink="/" class="hover:underline">Home</a>
        <a *ngIf="active_tabs['signUp']" routerLink="/sign-up" class="hover:underline cursor-pointer">Signup</a>
        <a *ngIf="active_tabs['login']" routerLink="/login" class="hover:underline">Login</a>
        <a *ngIf="active_tabs['logout']" routerLink="/login" class="hover:underline">Logout</a>
        <a *ngIf="active_tabs['dashboard']"  routerLink="/dashboard" class="hover:underline">Dashboard</a>
      </div>
      <div class="md:hidden">
        <button id="menu-btn" class="focus:outline-none" (click)="toggleMenu()" >
          <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
          </svg>
        </button>
      </div>
    </div>
  
    Mobile Menu 
    <div id="mobile-menu" class="hidden md:hidden bg-blue-600">
      <a routerLink="/" class="block text-white px-4 py-2">Home</a>
      <a *ngIf="active_tabs['signUp']" routerLink="/sign-up" class="block text-white px-4 py-2">Sign up</a>
      <a *ngIf="active_tabs['login']" routerLink="/login" class="block text-white px-4 py-2">Login</a>
      <a *ngIf="active_tabs['loggedIn']" routerLink="/logout" class="block text-white px-4 py-2">Logout</a>
      <a *ngIf="active_tabs['loggedIn']" routerLink="/dashboard" class="block text-white px-4 py-2">Dashboard</a>
      <a *ngIf="active_tabs['loggedIn']" routerLink="/dashboard" class="block text-white px-4 py-2">Transactions</a>
      <a *ngIf="active_tabs['loggedIn']" routerLink="/dashboard" class="block text-white px-4 py-2">Clients</a>

    </div>

    <div>
      
    </div>
  </nav>
   -->



  <!-- <header class="bg-white shadow-md w-full z-10">
    <nav class="bg-white text-gray-700 py-4">
      <div class="container mx-auto px-4 flex justify-between items-center">
        Logo 
        <div class="flex items-center space-x-4">
          <img src="https://via.placeholder.com/50" alt="School Logo" class="h-10 w-10">
          <span class="text-xl font-semibold">...</span>
        </div>
  
        Desktop Menu 
        <div class="hidden md:flex space-x-4">
          <a routerLink="/" class="hover:underline">Home</a>
          <a *ngIf="active_tabs['signUp']" routerLink="/sign-up" class="hover:underline cursor-pointer">Signup</a>
          <a *ngIf="active_tabs['login']" routerLink="/login" class="hover:underline">Login</a>
          <a *ngIf="active_tabs['logout']" routerLink="/login" class="hover:underline">Logout</a>
          <a *ngIf="active_tabs['loggedIn']"  routerLink="/dashboard" class="hover:underline">Dashboard</a>
          <a *ngIf="active_tabs['loggedIn']"  routerLink="/transactions" class="hover:underline">Transactions</a>
          <a *ngIf="active_tabs['loggedIn']"  routerLink="/clients" class="hover:underline">Clients</a>
        </div>
  
        Mobile Menu Button 
        <div class="md:hidden">
          <button id="menu-btn" class="focus:outline-none">
            <svg class="w-6 h-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </button>
        </div>
      </div>
  
      <div id="mobile-menu" class="hidden md:hidden bg-blue-600">
        <a routerLink="/" class="block text-white px-4 py-2">Home</a>
        <a *ngIf="active_tabs['signUp']" routerLink="/sign-up" class="block text-white px-4 py-2">Sign up</a>
        <a *ngIf="active_tabs['login']" routerLink="/login" class="block text-white px-4 py-2">Login</a>
        <a *ngIf="active_tabs['loggedIn']" routerLink="/logout" class="block text-white px-4 py-2">Logout</a>
        <a *ngIf="active_tabs['loggedIn']" routerLink="/dashboard" class="block text-white px-4 py-2">Dashboard</a>
        <a *ngIf="active_tabs['loggedIn']" routerLink="/dashboard" class="block text-white px-4 py-2">Transactions</a>
        <a *ngIf="active_tabs['loggedIn']" routerLink="/dashboard" class="block text-white px-4 py-2">Clients</a>
      </div>
    </nav>
  </header> -->
  

  <!-- <header class="bg-white shadow-md w-full z-10">
    <nav class="bg-white text-gray-700 py-4">
      <div class="container mx-auto px-4 flex justify-between items-center">
        <!-- Logo 
        <div class="flex items-center space-x-4"></div>
  
        <!-- Desktop Menu 
        <div class="hidden md:flex space-x-4 font-normal">
          <a routerLink="/" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Home</a>
          <a *ngIf="active_tabs['signUp']" routerLink="/sign-up" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Signup</a>
          <a *ngIf="active_tabs['login']" routerLink="/login" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Login</a>
          <a *ngIf="active_tabs['logout']" (click)="logout()" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Logout</a>
          <a *ngIf="active_tabs['loggedIn']" routerLink="/transactions" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Transactions</a>
          <a *ngIf="active_tabs['loggedIn']" routerLink="/clients" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Clients</a>
        </div>
  
        <!-- Mobile Menu Button 
        <div class="md:hidden">
          <button id="menu-btn" class="focus:outline-none">
            <svg class="w-6 h-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </button>
        </div>
      </div>
  
      <!-- Mobile Dropdown Menu 
      <div id="mobile-menu" class="hidden md:hidden bg-gray-600">
        <a routerLink="/" class="block text-white px-4 py-2">Home</a>
        <a *ngIf="active_tabs['signUp']" routerLink="/sign-up" class="block text-white px-4 py-2">Signup</a>
        <a *ngIf="active_tabs['login']" routerLink="/login" class="block text-white px-4 py-2">Login</a>
        <a *ngIf="active_tabs['logout']" (click)="logout()" class="block text-white px-4 py-2">Logout</a>
        <a *ngIf="active_tabs['loggedIn']" routerLink="/transactions" class="block text-white px-4 py-2">Transactions</a>
        <a *ngIf="active_tabs['loggedIn']" routerLink="/clients" class="block text-white px-4 py-2">Clients</a>
      </div>
    </nav>
  </header> -->




  <header class="bg-white shadow-md w-full z-10">
    <nav class="bg-white text-gray-700 py-4">
      <div class="container mx-auto px-4 flex justify-between items-center">
        <!-- Logo -->
        <div class="flex items-center space-x-4"></div>
  
        <!-- Desktop Menu -->
        <div class="hidden md:flex space-x-4 font-normal">
          <a routerLink="/" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Home</a>
          <a  routerLink="/sign-up" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Signup</a>
          <a routerLink="/login" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Login</a>
          <a  (click)="logout()" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Logout</a>
          <a  routerLink="/transactions" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Transactions</a>
          <a routerLink="/clients" class="text-gray-500 hover:text-gray-950 border px-3 py-1 rounded">Clients</a>
        </div>
  
        <!-- Mobile Menu Button -->
        <div class="md:hidden">
          <button id="menu-btn" class="focus:outline-none">
            <svg class="w-6 h-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </button>
        </div>
      </div>
  
      <!-- Mobile Dropdown Menu -->
      <div id="mobile-menu" class="hidden md:hidden bg-gray-600">
        <a routerLink="/" class="block text-white px-4 py-2">Home</a>
        <a routerLink="/sign-up" class="block text-white px-4 py-2">Signup</a>
        <a  routerLink="/login" class="block text-white px-4 py-2">Login</a>
        <a  (click)="logout()" class="block text-white px-4 py-2">Logout</a>
        <a  routerLink="/transactions" class="block text-white px-4 py-2">Transactions</a>
        <a routerLink="/clients" class="block text-white px-4 py-2">Clients</a>
      </div>
    </nav>
  </header>
  


  
