<div class="w-full" >
  <div >
    <div class="w-full flex justify-center items-center">
      <div class="flex justify-end gap-4 py-2 px-4 max-w-[1280px]">
        <div class="flex flex-col justify-between">
          <h1 class="text-3xl font-extrabold">Ovey<span class="text-blue-700">Easy</span>Save</h1>
          <span>Saving made easy</span>
        </div>
      </div>
    </div>

    <app-menu></app-menu>
    <div class="container mx-auto">
      <router-outlet />
    </div>
  </div>
</div> 