<div class="w-full" >
  <div >
    <!-- <div class="w-full flex justify-center items-center">
      <div class="flex justify-end gap-4 py-2 px-4 max-w-[1280px]">
        <div class="flex flex-col justify-between">
          <h1 class="text-3xl font-extrabold">Ovey<span class="text-blue-700">Easy</span>Save</h1>
          <span>Saving made easy</span>
        </div>
      </div>
    </div> -->

    <!-- <header class="relative bg-gradient-to-r from-gray-800 via-gray-700 to-gray-500 text-white py-10"> -->
      <header class="bg-gray-300 text-gray-700  py-4 md:py-8">
      <div class="container mx-auto flex md:flex-row flex-col items-center space-y-4 justify-center  md:gap-4 ">
        <!-- Logo -->
        <!-- <img src="https://via.placeholder.com/80" alt="Logo" class="w-10 h-10 md:h-20 md:w-20 rounded-full shadow-xl border-4 border-white"> -->
        <span class="text-5xl"> <i class="fas fa-piggy-bank"> </i>  </span>
        
        <!-- Motto -->
        <h1 class="text-xl md:text-4xl font-extrabold drop-shadow-lg font-sans">
          Ovey Communication Daily Saving
        </h1>
  
        <!-- Decorative Shapes
        <div class="absolute top-0 left-0 w-24 h-24 bg-white bg-opacity-20 rounded-full blur-xl -z-10"></div>
        <div class="absolute bottom-0 right-0 w-32 h-32 bg-white bg-opacity-20 rounded-full blur-xl -z-10"></div> -->
      </div>
    </header>

<!-- <app-menu></app-menu> -->
    <div class=" w-full">
      <router-outlet />
    </div>
  </div>
  <!-- Footer Section -->
  <footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto px-6 text-center">
      <h4 class="font-bold text-lg mb-4">Ovey Communication Daily Contribution</h4>
      <p>Building a culture of savings, one step at a time.</p>
      <p class="mt-4">&copy; 2024 Ovey Communication daily contribution. All rights reserved.</p>
    </div>
  </footer>
</div> 