.container {
    max-width: 800px;
    margin: auto;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ddd;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f4f4f4;
  }
  